<tabs>
    <panel title="All Events">
    	<event-lister data-sort="all"></event-lister>
    </panel>
    <panel title="Upcoming Events">
    	<event-lister data-sort="newest"></event-lister>
    </panel>
    <panel title="Local Events">
    	<event-lister data-sort="locale"></event-lister>
    </panel>
</tabs>
